---
title: Test App
---

<div class="welcome">
  <h1>Test App for Heroku deployment</h1>
  <p class="doc">
      <%= link_to 'View the source on Github', 'https://github.com/rfaulk/heroku-deploy-button-test' %>
  </p><!-- .doc -->
  <p>
      <%= link_to 'Another Page', 'other' %>
  </p>
</div><!-- .welcome -->
